accelerate
codetiming
datasets
dill
evaluate
flash-attn
hydra-core
megatron-core
numpy
omegaconf
pandas
peft
pybind11
ray
sacrebleu
sacrebleu[ja]
scikit-learn
tensordict<0.6
torch
tqdm
transformers<4.48
trl
unbabel-comet
vllm==0.6.3
wandb